.card__vertical-title title {
  top: -2rem;
}

.card,
.card__vertical {
  border: 7px solid var(--text2-color);
}

.card__vertical-title .title {
  top: -1.2rem;
}
.card__vertical-img{
  cursor: pointer;
}
.cart__unlike{
 color:var(--error--color);
 font-size: 1.4rem;
}
.like__button{
  top: 0.2rem;
    border: none;
    width: 2.4rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: 0 2px 0 2rem;
    background-color: var(--primary-color);

}
.like__button:hover{
  background-color: transparent;
}
@media screen and (max-width: 300px) {
  .card .card__vertical {
    max-width: 13rem;
  }
}
