.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  color: var(--text--color);
  font-weight: bolder;
  font-family: "Playball", cursive;
  font-size: 1.2rem;
  border-bottom: var(--box-shadow);

  margin-bottom: 1rem;
}
.logo__main {
  width: 10rem;
  height: 3.3rem;
  text-align: center;
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: bold;
  font-family: "Playball", cursive;
  text-decoration: none;
}

.subheader__item{
  margin: 0 3rem 0 1rem;
}
.subheader__item:hover{
  margin: 0 3rem 0 1rem;
  border-bottom: 3px solid var(--text--color);
}
.header__items li {
  list-style: none;
  padding: 0.7rem 1.5rem;
  margin: 0 1rem;
  border-bottom: 3px solid var(--text2-color);
}
.header__items li:hover {
  border-bottom: 3px solid var(--text--color);
}
.header__items {
  display: flex;
}
.header__items ul {
  display: flex;
}
.fa-user,
.fa-shopping-cart {
  font-size: 1.1rem;
}
.wishlist__item-count {
  font-size: 1.1rem;
}
.fa-sign-out {
  font-size: 1.3rem;
}
.fa-shopping-cart,
.wishlist__item-count {
  position: relative;
}

.items__no {
  position: absolute;
  padding: 4px 8px;
  top: -1.1rem;
  border-radius: 50%;
  background-color: var(--error--color);
  color: var(--text-color);
  left: 0.9rem;
}
.fa-bars,
.closeicon {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
.responsive__nav {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: var(--bg-color);
  color: var(--text--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.responsive__nav > * {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .header__list li {
    display: none;
  }
  .fa-bars,
  .closeicon {
    display: block;
  }
  .subheader__list > * {
    display: none;
  }
}
