* {
  box-sizing: border-box;
}

.auth__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  height: fit-content;
  background-color: var(--text2-color);
  margin: auto;
  margin-top: 5rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  box-shadow: var(--box-shadow);
}
#close {
  position: absolute;
  right: 10px;

  top: 5px;
  font-size: 1.3rem;

  cursor: pointer;
}
.auth__box h3 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.auth__inputs {
  position: relative;
  width: 100%;
}
.auth__inputs input {
  width: 100%;
  cursor: pointer;
}
.sub_main-btn {
  padding: 0.6rem 0;
  border: none;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.auth__box input {
  align-content: center;
  width: 95%;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  margin: 5px 0 0 8px;
  border: 1px solid var(--primary-color);
  color: var(--text--color);
}

.auth__logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
}
input::placeholder {
  font-size: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.auth__box-sub {
  width: 100%;
  padding: 0rem 1rem;
  color: var(--text--color);
  cursor: pointer;
}
.auth__box-sub h4 {
  padding: 0.5rem 0;
  text-align: center;
}
.sub__main {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  margin: 0.5rem 0 0 0;
  border-radius: 5px;
}
.sub__main:hover {
  background-color: var(--text--color);
  color: var(--primary-color);
}

.sub__main2:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}
.logout__img {
  width: 13rem;
  height: 12rem;
  padding-top: 2rem;
  margin: auto;
}
.incorrect__pass {
  color: var(--error--color);
  font-weight: bold;
  text-align: start;
}
.login__reset {
  align-self: flex-end;
  padding: 0 1rem;
}
.auth__error {
  color: var(--error--color);
}

@media screen and (max-width: 330px) {
  .auth__box {
    width: 20rem;
    padding-top: 3rem;
  }
  .auth__box-sub {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 259px) {
  .auth__box {
    width: 15rem;
    padding-top: 3rem;
  }
  .auth__box-sub {
    padding: 0 1rem;
  }
}
