.search__bar {
  text-align: center;

  margin: 1rem 0 3rem 0;
}
.search__bar input {
  border: 1px solid var(--text-color);
  min-width: 30rem;
  border-radius: 2rem;
  text-align: center;
  height: 3rem;
  border: 1px solid var(--bg-color);
  font-size: 1rem;
  margin: auto;
}
.filter__subheading {
  margin: 1px;
  text-transform: capitalize;
}

@media screen and (max-width: 530px) {
  .search__bar input {
    min-width: 22rem;
  }
}
@media screen and (max-width:648px) {
  .search__bar {
    margin:1rem 0 1rem 0 ;
  }
}
@media screen and (max-width: 370px) {
  .search__bar input {
    min-width: 20rem;
    padding: 0 0.9rem;
  }
  .search__bar{
    margin: 1rem 0 2rem 0;
  }
}
