.sidebar {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 32rem;
  border-radius: 5px;
  margin-right: 1rem;
  width: 20rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  z-index: 2;
  padding-bottom: 2rem;
  border-radius: 0.3rem;

}
::-webkit-scrollbar {
  width: 10px;
  transition: opacity 0.2s;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  width: 2rem;
  height: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text--color);
}

.sidebar > * {
  border-bottom: 1px solid var(--primary-color);
  padding: 0 0 1rem 1rem;
}

.sidebar input[type="checkbox"],
.sidebar input[type="radio"] {
  accent-color: var(--primary-color);
  margin-right: 5px;
  cursor: pointer;
}

.filter__heading {
  display: flex;
  justify-content: space-between;
}
.filter__subheading {
  padding: 0.6rem 0;
}
.slider__input {
  position: relative;
  cursor: pointer;
}
.min__value {
  position: absolute;
  top: -5px;
  left: 0px;
}
.max__value {
  position: absolute;
  top: -5px;
  right: 5px;
}
.sidebar label {
  margin-right: 5px;
}

.slider {
  width: 100%;
  margin: 2rem 0;
  -webkit-appearance: none;
  height: 1rem;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  background-color: var(--primary-color);
  opacity: 0.2s;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.4rem;
  background: var(--text--color);
  cursor: pointer;
}
.filter__categories > * {
  padding: 0.5rem 0;
}
.filter__ratings > * {
  padding: 0.5rem 0;
}
.fa-filter {
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 4rem;
  padding: 1rem;
  border-radius: 50%;
  margin-top: 4rem;
  background-color: var(--bg-color);
  cursor: pointer;
}
.clearfilter {
  background-color: var(--primary-color);
  color: var(--text--color);
  cursor: pointer;
  padding: 0.5rem 1rem;
}
#showfilter {
  display: block;
  z-index: 999;
  position: fixed;
}
#hidefilter {
  display: none;
}

@media screen and (max-width:642px) {
  .fa-filter {
    top:7rem;
    
  }
}
