
.template{
    display: flex;
    background-color: var(--bg-color);
    height: 32rem;
    border-radius: 5px;
}
  .template img{
   width:70%;
    height:32rem;
    align-self: center;
}
.template__content{
    color:var(--text2-color);
    padding:6rem 0rem 0 2rem;
    
}
.template__content h2{
    font-size:2.2rem;
    margin-bottom: 1rem;
}
.template__content h3{
    font-size:1.5rem;
}
.template__shop{
    background-color: var(--text2-color);
    color:var(--primary-color);
    margin-top:3rem;
   width:fit-content;
   padding:1rem;
   font-weight: bolder;
   border-radius: 3px;
  
}
.featured__cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:2rem;
  margin-bottom: 5rem;
  gap:3rem 0 ;
  cursor: pointer;
  transition: width 10s, height 10s;
  
}
.card__feat{
  width:18rem;
  height:25rem;
  box-shadow: var(--box-shadow);
  position: relative;
}
.card__feat:hover{
  height:26rem;
  width:19rem;
}

.img__feat{
  width:100%;
  height:100%;
}
.card__featured-content{
  width:100%;
  height:5rem;
  padding-bottom:3rem;
  background-color:var(--primary-color);
  color:var(--text--color);
  font-weight: bold;
  font-size:1.4rem;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  top:11rem;
 
}
.card__latest-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:3rem 1rem;
}


@media screen and (max-width:1010px) {
  .template__heading{
      right:1rem;
  }
}
@media screen and (max-width:800px) {
  .template__heading{
      font-size:2rem;
  }
  
}
@media screen and (max-width:730px) {
  .template__heading{
      font-size:2rem;
  }
  .template{
      flex-wrap: wrap;
  }
  .template img{
      width:100%;
      height:22rem;
  }
  .template__content{
      padding:0.5rem ;
      height:fit-content;
      width:100%;
      text-align: center;
      background-color: var(--bg-color);
  }
  .template__shop{
      margin:auto;
}
}