.template {
  display: flex;
  background-color: var(--bg-color);
  height: 35rem;
  border-radius: 5px;
  margin: 2rem 0;
}
.template img {
  width: 70%;
  height: 35rem;
  align-self: center;
  object-fit: cover;
}
.template__content {
  color: var(--text--color);
  padding: 6rem 0rem 0 2rem;
  font-family: "Playball", cursive;
}
.template__content h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.template__content h3 {
  font-size: 2rem;
}
.template__shop {
  background-color: var(--text2-color);
  color: var(--primary-color);
  margin-top: 3rem;
  width: fit-content;
  padding: 1rem;
  font-weight: bolder;
  border-radius: 3px;
}
.featured__cards {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 5rem;
  gap: 3rem 3rem;
  cursor: pointer;

  background-color: black;
}
.card__feat {
  width: 17rem;
  height: 24rem;
  box-shadow: var(--box-shadow);
  position: relative;
  border: 0.7rem solid var(--text2-color);
  transition: 0.3s all;
}
.card__feat:hover {
  transform: scale(1.1);
}

.img__feat {
  width: 100%;
  height: 100%;
}
.card__featured-content {
  width: 100%;
  height: 5rem;
  padding-bottom: 3rem;
  background-color: var(--primary-color);
  color: var(--text--color);
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  top: 11rem;
}
.card__latest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 3rem 0;
  gap: 3rem 2rem;
  background-color: var(--bg-color);
}
.card__vertical {
  background-color: var(--text2-color);
}
.services {
  display: flex;
  margin: 7rem 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.quote {
  font-family: "Playball", cursive;
  color: var(--error--color);
  padding: 10rem 1rem 1rem 0;
  margin: auto;
  text-align: center;
}
.quote__owner {
  font-family: "Playball", cursive;
  color: var(--error--color);
  text-align: center;
  margin: 0 0 10rem 5rem;
}
@media screen and (max-width: 1010px) {
  .template__heading {
    right: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .template__heading {
    font-size: 2rem;
  }
}
@media screen and (max-width: 963px) {
  .template__heading {
    font-size: 2rem;
  }
  .template {
    flex-wrap: wrap;
    margin-bottom: 7rem;
  }
  .template img {
    width: 100%;
    height: 22rem;
  }
  .template__content {
    padding: 0.5rem;
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
  }
  .template__shop {
    margin: auto;
  }
}
@media screen and (max-width:324px) {
  .services{
    margin-top: 10rem;
  }
}
