.card__hori2 {
  padding: 0rem 1rem 1rem 1rem;
  width: 30rem !important;
  border: 1px solid var(--primary-color);
  margin: 1rem 0.3rem;
  box-shadow: var(--box-shadow);
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count span {
  padding: 0 0.5rem;
}
.count button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.fa-star{
  color:var(--error--color)
}
.count span {
  font-size: 1.2rem;
}
.card__hori2 .fa-close {
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.product__details{
  padding-left: 1rem;
}
@media screen and (max-width: 570px) {
  .card__hori2 {
    width: fit-content !important;
    padding: 0 0.2rem;
  }
}
