.cart__payment{
    width: 23rem;
      padding:1rem;
     height:fit-content;
     display: flex;
     flex-direction: column;
     box-shadow: var(--box-shadow);
     margin:3rem 0.5rem;
    }
 .details{
    border-bottom: 1px solid black;
    
 }
 .details__heading{
    padding:0.5rem 0 ;
    font-weight: bold;
  
 }
 .details__content{
    display: flex;
    justify-content: space-between;
 
 }
 .coupan{
     border-bottom: 2px solid var(--primary-color);
 }
 .cart__order{
     background-color: var(--primary-color);
     width:90%;
     margin:auto;
    margin-top:0.5rem;
     padding:0.5rem 0.5rem;
     border-radius:5px;
     margin-bottom: 1rem;
     text-align: center;
 }
 .cart__order:hover{
     background-color: var(--text--color);
     color:var(--primary-color)
 }