.footer {
  height: fit-content;
  min-width: 100vw;
  background-color: var(--text--color);
  padding: 2rem 0.5rem;
  margin-top:4rem;
  bottom: 0;
  color: var(--text2-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  z-index:1;
 }
.footer__desp {
  padding: 0 1rem;
}
.footer__links {
  display: flex;
  justify-content: space-around;
}
.footer li {
  padding: 1rem 0.5rem;
  color: var(--text2-color);
}

.list_style {
  list-style: none;
}
.rights {
  width: 100%;
  height: 5rem;
  text-align: center;
  color: var(--text--color);
  padding-top: 1rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 730px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 2.5rem 0;
  }
}
