.cart{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    min-height:47vh;
    
}
.heading_emptycart{
  margin: 0 auto;
 color:var(--primary-color);
 font-size: 1.3rem;
}
