.profile_container{
    width:25rem;
    height:fit-content;
    box-shadow: var(--box-shadow);
    margin:auto;
    margin-top: 4rem;
    
}
.orders_container{
  margin-bottom: 6rem;
}
.profile_page_options{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
    align-items: center;
   
}
.profile_page_options >*{
    cursor:pointer;
    font-size: 1.3rem;
    border:1px solid white;
}
.profile_selected-option{
    border-bottom: 1px solid var(--primary-color);
    font-weight: bold;
    
}
.profile_details{
    display: flex;
    flex-direction: column;
    padding: 1rem ;
}
.profile_details-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.logout-btn{
    border: none;
    font-weight: bold;
}
@media screen and (max-width:371px) {
    .profile_container{
        width:19rem;
    }
}