.sidebar {
  background-color: var(--text2-color);
  display: flex;
  flex-direction: column;
  height: 50rem;
  border-radius: 5px;
  width: 20rem;
  margin-right: 1rem;
  min-width: 20rem;
}
.sidebar > * {
  border-bottom: 1px solid var(--primary-color);
  padding: 0 0 1rem 1rem;
}
.sidebar input[type="checkbox"],
.sidebar input[type="radio"] {
  accent-color: var(--primary-color);
  margin-right: 5px;
}

.filter__heading {
  display: flex;
  justify-content: space-between;
}
.filter__subheading {
  padding: 0.6rem 0;
}
.slider__input {
  position: relative;
}
.min__value {
  position: absolute;
  top: -5px;
  left: 0px;
}
.max__value {
  position: absolute;
  top: -5px;
  right: 5px;
}
.sidebar label {
  margin-right: 5px;
}

.slider {
  width: 100%;
  margin: 2rem 0;
  -webkit-appearance: none;
  height: 1rem;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  background-color: var(--primary-color);
  opacity: 0.2s;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.4rem;
  background: var(--text--color);
  cursor: pointer;
}
.filter__categories > * {
  padding: 0.5rem 0;
}
.filter__ratings > * {
  padding: 0.5rem 0;
}
.fa-filter {
  font-size: 2rem;
  position: absolute;
  right: 2px;
  top: 10rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--bg-color);
}
.clearfilter {
  background-color: var(--primary-color);
  color: var(--text--color);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1070px) {
  .sidebar {
    display: none;
  }
}
