/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,400;0,500;0,900;1,600;1,900&family=Recursive:wght@300&family=Roboto+Slab&family=Source+Sans+Pro&display=swap");
:root {
  --bg-color: rgb(250, 215, 221);
  --primary-color: rgb(194, 131, 128);
  --text--color: black;
  --text2-color: #ffffff;
  --error--color: red;
  --box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  --font-family2: ui-rounded;
  --font-family3: "Great Vibes", cursive;
}
body {
  font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.btn__pri:hover {
  background-color: var(--text--color);
  color: var(--primary-color);
  border: none;
}

.main__heading {
  color: var(--text--color);
  text-align: center;
  padding: 1rem 0;
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.Link_style {
  color: var(--text--color);
  cursor: pointer;
  text-decoration: none;
}
.Link_style2 {
  color: var(--text2-color);
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 490px) {
  html {
    font-size: 80%;
  }
  .main__heading {
    font-size: 1.3rem;
  }
}
